.container{
    color: lightblue;
    font-style: italic;
    padding: 30px;
    background-color:whitesmoke;
}
a:hover{
    color:aqua;
    background-color: white;
    
}

h1::after {
    content: "TOP";
    color:orange;
    background-color:white;
    font-size: 20px;
    font-weight: bold;
    top: -15;
    
  }

h1{
    color:lightblue;
}  

h3{
    color:lightblue;
}
button{
    text-align: right;
}

aside{
    border-top: 5px solid lightblue;
    background-color: whitesmoke;
}

